.everything {
    width: 100vw;
    height: 100vh;
    padding: 36px;
    font-size: large;
}

.main_panel {
    width: 100%;
    height: 100%;
    background-color: #ffffffdd;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
    padding: 18px;
    font-family: "Roboto Slab", sans-serif;
    color: #000000cc;
    overflow-y: scroll;
    /* border: 2px solid #5165ff; */
}

/* .title {
    display: flex;
} */

.title {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signature {
    opacity: 50%;
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: absolute;
}

.signature > a {
    transition: transform 0.1s ease-in-out !important;
}

.signature > a:hover {
    transform: scale(1.2);
}
.signature > a:focus {
    outline: none !important;
}

.title > h1 {
    width: 100%;
    position: relative;
    color: #000000ee;
    text-align: center;
    pointer-events: none;
}

hr {
    margin-bottom: 8px;
}

.add_button {
    font-family: "Roboto Slab", sans-serif;
    font-size: large;
    color: #000000cc;
    cursor: pointer;

    padding: 8px;
    margin: 4px;

    background: #61ff84;
    border: 2px solid #3a994f;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    transition: all 0.05s ease-in-out;
}
.add_button:active {
    background: #4dcc69;
    border: 2px solid #3a994f;
}

.equation {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    vertical-align: middle;
}
.equation > span {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    margin: 2px;
}

.remove_button {
    font-family: "JetBrains Mono", monospace;
    font-size: large;
    color: #00000099;
    cursor: pointer;

    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    margin: 4px;

    background: #ff6161;
    border: 2px solid #993a3a;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    transition: all 0.05s ease-in-out;
}
.remove_button:active {
    background: #d64f4f;
    border: 2px solid #993a3a;
}

.equation_input {
    width: 100%;
    font-family: "JetBrains Mono", monospace;
    /* font-weight: 900; */
    font-size: large;
    margin: 4px;
    border-radius: 8px;
    border: 2px solid #777;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding-left: 6px;
    padding-right: 6px;

    transition: box-shadow 0.1s ease-in-out, background 0.1s ease-in-out;
    /* height: 100%; */
}

.equation_input.err {
    background: #ffdddd;
    box-shadow: 0px 0px 0px 2px rgba(255, 108, 108, 1);
}

.errormsg {
    color: #a91a1a;
    font-weight: 600;
    padding: 8px;
}

.solve_button {
    font-family: "Roboto Slab", sans-serif;
    font-size: large;
    color: #000000cc;
    cursor: pointer;

    padding: 8px;
    margin: 4px;

    background: #61c2ff;
    border: 2px solid #3a6899;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    transition: all 0.05s ease-in-out;
}
.solve_button:active {
    background: #4d95cc;
    border: 2px solid #3a6899;
}
.solution {
    font-family: "JetBrains Mono", monospace;
}

input[type="number"] {
    /* width: 100%; */
    font-family: "JetBrains Mono", monospace;
    height: 36px;
    width: 120px;
    /* font-weight: 900; */
    font-size: medium;
    margin: 4px;
    border-radius: 8px;
    border: 2px solid #777;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding-left: 6px;
    padding-right: 6px;
    /* height: 100%; */
}
